<ion-list class="userForm">
  <ion-item class="name">
    <ion-label color="primary" floating>Name</ion-label>
    <ion-input [(ngModel)]="project.name" name="name" type="text"></ion-input>
  </ion-item>

  <ion-item class="url">
    <ion-label color="primary" floating>url</ion-label>
    <ion-input [(ngModel)]="project.url" name="url" type="text"></ion-input>
  </ion-item>

  <br>

  <div class="userActionButtonGroup">
    <div md-dialog-actions>
      <button ion-button round outline (click)="dismiss()" md-button>Add</button>
      <button ion-button round outline>Cancel</button>
    </div>
  </div>

</ion-list>
