<md-card class="project-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title class="title">{{project.name}} ({{project.likes}})</md-card-title>
    <md-card-subtitle>{{project.url}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{project.content}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button class="like" (click)="doLike()">LIKE</button>
    <button md-button class="share">SHARE</button>
  </md-card-actions>
</md-card>